@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
* {
  box-sizing: border-box;
}
body {
  background-image: url("images/bg.png");
  background-repeat: repeat-y;
  background-size: 150%, 150%;
  background-color: grey;
}
.logo {
  height: 90px;
  width: 90px;
  float: left;
  transition: transform 1.25s;
  transform-origin: 46% 46%;
}

.logo:hover {
  transform: rotate(360deg) scale(1.1);
}

.stickyheader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: whitesmoke;
  z-index: 2;
}
.stickyheader > h1, p {
  display: inline-block;
}

p {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: papyrus;
}
.whitescroll {
  background-image: url(images/whitescroll.png);
  width: 555px;
  height: 166px;
  object-fit: fill;
  background-repeat: no-repeat;
  font-size: 35px;
  text-align: center;
  transition: transform .2s
  float: left;
}

.whitescrollDOOP {
  background-image: url(images/whitescroll.png);
  width: 555px;
  height: 166px;
  object-fit: fill;
  background-repeat: no-repeat;
  font-size: 35px;
  text-align: center;
  transition: transform .2s
}

.blackscroll {
  background-image: url(images/blackscroll.png);
  width: 555px;
  height: 178px;
  object-fit: fill;
  background-repeat: no-repeat;
  font-size: 35px;
  text-align: center;
  transition: transform .2s
  float: left;
}

.blackscrollDOOP {
  background-image: url(images/blackscroll.png);
  width: 555px;
  height: 178px;
  object-fit: fill;
  background-repeat: no-repeat;
  font-size: 35px;
  text-align: center;
  transition: transform .2s
}

#easteregg {
  position: fixed;
  left: 1000px;
  top: 2000px;
}
.scrollcontainedblack {
  font-family: 'Silkscreen', cursive;
  padding-top: 20px;
  color: white;
  text-decoration: none;
}

.scrollcontainedblackDOOP {
  font-family: 'Silkscreen', cursive;
  padding-top: 20px;
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.scrollcontainedwhite {
  font-family: 'Silkscreen', cursive;
  padding-top: 20px;
  color: black;
  text-decoration: none;
}

.scrollcontainedwhiteDOOP {
  font-family: 'Silkscreen', cursive;
  padding-top: 20px;
  color: black;
  text-decoration: none;
  font-size: 30px;
}

a {
  text-decoration: none;
}

.blackscroll:hover {
  transform: scale(1.1);
  object-fit: fill;
}
.blackscrollDOOP:hover {
  transform: scale(1.04);
  object-fit: fill;
}
.whitescroll:hover {
  transform: scale(1.1);
  object-fit: fill;
}
.whitescrollDOOP:hover {
  transform: scale(1.04);
  object-fit: fill;
}
.paragraphstart {
  text-indent: 10px;
}
.subtext {
  font-size: 10px;
  display: inline-block;
  background: grey;
  text-align: center;
  position: relative;
  bottom: 0ch;
}
.headerlink {
padding-left: 50px;
display: inline-block;
color: black;
}
.headerlink:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.headerlink:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}
  
.titleboxtext {
  padding-top: 120px;
}

#paragraphP1 {
background-color: rgba(128, 128, 128, 65%);
  clear:left;
  padding: 10px;
  margin: 5px;
  width: 600px;
  text-indent: 10px;
}
h1 > p {
    font-family: papyrus;
}
.top {
  position: relative;
  top: 0;
}
iframe { 
  margin: 0 auto; 
  background-color: gray; 
  clear: both;
}

.extratext {
  height: 100px;
  width: 200px;
  float: left;
  transition: transform 1.25s;
  transform-origin: 50% 50%;
  z-index: 50;
}


.extratext:hover {
  transform: translate(500px, 0);
}

.extratext:hover {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

footer {
  background-color: grey;
  width: 100%;
}
li {
  list-style-type: none;
}