@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
body {
  background-image: url("images/bg.png");
  background-repeat: no-repeat;
  background-size: 4800px, 4800px;
}
.logo {
  length: 90px;
  width: 90px;
  float: left;
}
.stickyheader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: whitesmoke;
  z-index: 2;
}
.stickyheader > h1, p {
  display: inline-block;
}
p {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: papyrus;
}
.whitescroll {
  background-image: url(images/whitescroll.png);
  width: 555px;
  height: 166px;
  object-fit: fill;
  background-repeat: no-repeat;
  font-size: 35px;
  text-align: center;
}
.blackscroll {
  background-image: url(images/blackscroll.png);
  width: 555px;
  height: 178px;
  object-fit: fill;
  background-repeat: no-repeat;
  font-size: 35px;
  text-align: center;
}
#easteregg {
  position: fixed;
  left: 1000px;
  top: 2000px;
}
.scrollcontainedblack {
  font-family: 'Silkscreen', cursive;
  padding-top: 20px;
  color: white;
  text-decoration: none;
}
.scrollcontainedwhite {
  font-family: 'Silkscreen', cursive;
  padding-top: 20px;
  color: black;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.blackscroll:hover {
  scale: 110%;
  object-fit: fill;
}
.whitescroll:hover {
  scale: 110%;
  object-fit: fill;
}
.paragraphstart {
  text-indent: 10px;
}
.subtext {
  font-size: 10px;
}
.headerlink {
padding-left: 50px;
color: black;
}
.headerlink:hover {
  text-decoration: underline;
}